# list

In [5]:
courses = ['Math', 'English', 'Sanskrit']
print(courses)

['Math', 'English', 'Sanskrit']

# length of list

In [6]:
print(len(courses))

3

# accessing a word

In [7]:
print(courses[0])

Math

# last item can be accessed also with the help of -1 index

In [8]:
print(courses[-1])
print(courses[-2][-1])

Sanskrit
h

# access upto that index

In [9]:
print(courses[:2])

['Math', 'English']

### accessing the list and skipping the element with step
    list[start:end:step]

In [10]:
new_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(new_list[2:])
print(new_list[2::3])
print(new_list[0:-1:2])

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 5, 8, 11]
[0, 2, 4, 6, 8, 10]

# adding element to a list

In [11]:
courses.append('python')
print (courses)

['Math', 'English', 'Sanskrit', 'python']

# insering in a list
# syntax
## list.insert(index, 'element to be inserted')

In [12]:
courses.insert(1, "Comp")
print(courses)

['Math', 'Comp', 'English', 'Sanskrit', 'python']

# list can also be inserted 
# list with in a list

In [13]:
a = ['ECE', 'DLD', 'LNT']
courses.insert(1, a)
print (courses)

['Math', ['ECE', 'DLD', 'LNT'], 'Comp', 'English', 'Sanskrit', 'python']

# above can be avoided using extend

list can be extended by using 
list.extend(a)

In [14]:
courses.extend(a)
print(courses)

['Math', ['ECE', 'DLD', 'LNT'], 'Comp', 'English', 'Sanskrit', 'python', 'ECE', 'DLD', 'LNT']

# removing

removing item from a list

# syntax

list.remove('element to be removed')

In [15]:
courses.remove(a)
print(courses)

['Math', 'Comp', 'English', 'Sanskrit', 'python', 'ECE', 'DLD', 'LNT']

# popping the list

syntax:
popped = list.pop()

Will remove the last value of the list(by default)
popped will return the last value 
while the list has been shrinked

In [16]:
z = courses.pop()
print(z)
print(courses)

LNT
['Math', 'Comp', 'English', 'Sanskrit', 'python', 'ECE', 'DLD']

# reversing the list

syntax:
list.reverse()

In [17]:
courses.reverse()
print(courses)

['DLD', 'ECE', 'python', 'Sanskrit', 'English', 'Comp', 'Math']

# Sorting the list

syntax:
list.sort()

will sort the list in alphabetical order

In [18]:
c = courses.sort()
print(courses)

['Comp', 'DLD', 'ECE', 'English', 'Math', 'Sanskrit', 'python']

doing above with number 
and also sorting in descending order

In [19]:
num = [1, 5, 8, 9, 10, 45, 45, 78, 1, 18]
num.sort()
print(num)
num.sort(reverse = True)
print(num)
courses.sort(reverse = True)
print(courses)

[1, 1, 5, 8, 9, 10, 18, 45, 45, 78]
[78, 45, 45, 18, 10, 9, 8, 5, 1, 1]
['python', 'Sanskrit', 'Math', 'English', 'ECE', 'DLD', 'Comp']

Sorted list in another without changig the the original list

In [20]:
sorted_courses = sorted(courses)
print(sorted_courses)
sorted_num = sorted(num)
print(sorted_num)

['Comp', 'DLD', 'ECE', 'English', 'Math', 'Sanskrit', 'python']
[1, 1, 5, 8, 9, 10, 18, 45, 45, 78]

sum, min and max of a list

In [21]:
# string
print(min(courses))
print(max(courses))

# number list
print(min(num))
print(max(num))
print(sum(num))

Comp
python
1
78
220

# index of some element in a list

syntax:
list.index('elment whose index is needed')

In [22]:
print(courses)
print(courses.index('Comp'))

['python', 'Sanskrit', 'Math', 'English', 'ECE', 'DLD', 'Comp']
6

# checking whether the element is in the list or not

Syntax: 
('Element' in List)

In [23]:
print('Art' in  courses)
print('Math' in courses)

False
True

# for loop

In [24]:
for subj in courses:
    print(subj)

python
Sanskrit
Math
English
ECE
DLD
Comp

We can also get the  index of elements of the list by using the <B>enumrate</B> function

In [25]:
for number, subj in enumerate(courses):
    print(number, subj)

0 python
1 Sanskrit
2 Math
3 English
4 ECE
5 DLD
6 Comp

Cont start at 1 or whatever number we want

In [26]:
for number, subj in enumerate(courses, start = 1):
    print(number, subj)

1 python
2 Sanskrit
3 Math
4 English
5 ECE
6 DLD
7 Comp

In [27]:
for number, subj in enumerate(courses, start = 5):
    print(number, subj)

5 python
6 Sanskrit
7 Math
8 English
9 ECE
10 DLD
11 Comp

changing the list to comma separated value string or hyphen or whatever we want

# in this way the list is changed to a string

In [28]:
comma_courses = ', '.join(courses)
print(comma_courses)

python, Sanskrit, Math, English, ECE, DLD, Comp

In [29]:
hyphen_courses = ' - '.join(courses)
print(hyphen_courses)

python - Sanskrit - Math - English - ECE - DLD - Comp

# changing the string into a list

Syntax:
new_list = string.split(' - ')

if the string is hyphen separated

In [30]:
new_list =  comma_courses.split(', ')
print(new_list)

['python', 'Sanskrit', 'Math', 'English', 'ECE', 'DLD', 'Comp']

In [31]:
new_list1 =  hyphen_courses.split(' - ')
print(new_list1)

['python', 'Sanskrit', 'Math', 'English', 'ECE', 'DLD', 'Comp']

# Tuples
    Can't modify the tuples
    Tuples : Immutable
    List : Mutable

In [32]:
# checkout the braces
tuple_1 = ('DLD', 'EDC', 'Maths', 'LNT', 'EM')
print(tuple_1)
# uncomment below to see the error msg as tuples can't be changed, they are fixed
#tuple_1[0] = 'ED'
#print(tuple_1)

('DLD', 'EDC', 'Maths', 'LNT', 'EM')

# Sets
    Don't care about order
    Don't have duplicates (automatically throw out the duplicates)

In [33]:
set_1 = {'Math', 'DLD', 'EDC', 'Maths', 'LNT', 'EM'}
print(set_1)
# checkout maths in the output
set_2 = {'Maths', 'DLD', 'EDC', 'Maths', 'LNT', 'EM'}
print(set_2)

{'DLD', 'EDC', 'LNT', 'Maths', 'Math', 'EM'}
{'DLD', 'EDC', 'LNT', 'Maths', 'EM'}

Sets can do the membership test very efficiebtly than tuples and list

In [34]:
print('Math' in set_2)
print('Maths' in set_2)

False
True

#### Intersection of two sets

In [35]:
print(set_1.intersection(set_2))

{'DLD', 'EDC', 'Maths', 'LNT', 'EM'}

#### Difference

In [36]:
print(set_1.difference(set_2))

{'Math'}

#### Union

In [37]:
print(set_1.union(set_2))

{'DLD', 'EDC', 'Math', 'Maths', 'LNT', 'EM'}

## Creating Empty list, tuple, set

In [38]:
empty_list = []
empty_list_1 = list()

empty_tuple = ()
empty_tuple = tuple()

# below won't create a set, but it would create a dictionary
empty_set = {}
# below is the correct way to create the empty set
empty_set = set()

In [39]:
print('Rahul')
print("")
print('Rahul')
temp = 0
temp++

SyntaxError: invalid syntax (<ipython-input-39-42716252b599>, line 5)